@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300;400;500;600;800&family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Poppins' ;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 178, 50);
}
.overflow-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    overflow: hidden;
}
.card-inner-box{
    
    width: 100%;
    height: 100%;
    transition: 1400ms ease-in-out;
    transform-style: preserve-3d;
}
.card-outer-box{
    min-width: 15rem;
    min-height: 25rem;
    position: relative;
    display: flex;
    perspective: 1000px;
}

.front{
    background-color: white;
    height: 100%;
    width: 100%;
    transform: translateZ(1rem);
    position: relative;    
}
.left{
    height: 100%;
    width: 2rem;
    transform: translateX(-4rem);
    transform:translate(-1rem) rotateY(90deg);
    background-color: white;
    
}
.left-color{
    background-image: linear-gradient(#825857,#40221c);
    height:60%;
}
.right{
    height: 100%;
    width: 2rem;
    margin-left: 14rem;
    transform: translateX(14rem) translateZ(-1rem);
    /* transform: translateZ(-1rem); */
    transform: rotateY(90deg);
    background-color: white;

}
.right-color{
    background-image: linear-gradient(#825857,#40221c);
    height:60%;
}
.back{
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -1;
    transform: translateZ(-1rem);
    /* position: relative; */
    /* transform: translateX(1rem); */
}
.front,.back,.left,.right,.card-inner-box{
    position: absolute;
}
 /* .card-outer-box:hover .card-inner-box{
    transform: rotateY(-180deg);
}  */

/* ############## Card Content ############################################# */
/* ################### Front Card ######################*/
.front-color-box{
    height: 60%;
    width: 100%;
    background-image: linear-gradient(#825857,#40221c);
    position: absolute;
}
.front-image-box{
    position: absolute;
    left: 3.2rem;
    transform: translateZ(5rem);
}
.front-img{
    max-height: 18rem;
    transform: rotateZ(20deg);
    filter: drop-shadow(0 0px 10px black);
}
/* ####################### Back Card ###################### */
.back-color-box{
    height: 60%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(#825857,#40221c);
}
.back-image-box{
    /* background-color: black; */
    transform: translateY(-8px) translateZ(-5rem);
    position: absolute;
    right: 2rem;
    filter: drop-shadow(0 0px 10px black);
}
.back-image{
    height: 18rem;
    transform: rotateZ(-20deg);
}
/* ###################### Both front and back ########### */
.content-box{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    /* border: 2px solid black; */
}
.content{
    
    display: flex;
    flex-direction: column;
    margin: 4rem 1rem ;
    /* border: 2px solid red; */
}
.content h1{
    font-size: 1rem;
    color: chocolate;
    /* text-align: center; */
}
.buy-btn{
    width: 4rem;
    text-align: center;
    font-size: small;
    margin-top: 0.5rem;
    padding: 0.3rem 0.3rem;
    border-radius: 25px;
    border: 2px solid lightgray;
}
.buy-btn:hover{
    cursor: pointer;
    border: 2px solid chocolate;
}
.next-page-btn{
    margin-top: 0.7rem ;
    margin-left:6rem;
}
.next-page-arrow{
    padding: 0.2rem 0.7rem;
    border-radius: 100%;
    font-size: 1rem;
    border: 2px solid lightgray;
}
.next-page-arrow:hover{
    cursor: pointer;
    border: 2px solid chocolate;
}
.price{
    font-size: 2.5rem;
}
.buttons{
    display: flex;
    list-style: none;
    /* border: 1px solid red; */
}
a{
    text-decoration: none;
    color: chocolate;
}
